/* https://loading.io/css/ */

.loader-container {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.lds-dual-ring {
  display: inline-block;
  /* width: 80px; */
  /* height: 80px; */
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: rgba(252, 236, 236, 0.788) transparent
    rgba(252, 236, 236, 0.788) transparent;
  animation: lds-dual-ring 2.5s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
