* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e9ecf4;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.header {
  background-color: #4d5057e1;
  width: 100%;
  height: 40px;
}

.container {
  display: grid;
  grid-template-areas: 'sidebar books';
  grid-template-columns: 200px auto;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.sidebar {
  grid-area: sidebar;
  background-color: #696c74c4;
  display: flex;
}

.books {
  grid-area: books;
  display: grid;
  justify-content: center;
  /* grid-template-columns:
    minmax(280px, max-content)
    repeat(auto-fill, 280px); */
  grid-template-columns: repeat(auto-fill, 280px);
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
  grid-gap: 1em;
  grid-auto-rows: 220px;
  /* grid-auto-rows: minmax(200px, auto); */
  /* grid-auto-flow: row; */
  /* background-color: aliceblue; */
  border-radius: 10px;
  margin-top: 10px;
  /* height: 90%; */
  overflow: auto;
  margin-bottom: 50px;
}

.book {
  background-color: #fff;
  border-radius: 10px;
  width: 220px;
  margin: 0 auto;
  padding: 5px;
}

.book p {
  margin: 5px 0 0 0;
  font-size: 14px;
  text-align: center;
}

.book img {
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  width: 150px;
  height: 150px;
}

.container.add-book {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  /* justify-content: center; */
}

.add-book > form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 100px auto;
}

.add-book > input[type='submit'] {
  display: flex;
  justify-content: end;
  width: 150px;
  margin-top: 20px;
  margin-left: auto;
  padding: 10px;
}

.add-book > label {
  padding-top: 10px;
}

.add-book > input[type='text'] {
  height: 40px;
  font-size: 1.2em;
}
