{% extends 'layout.html' %}

{% block body %}

<div class="book-form container">
    <form id="book-form" action="/add-book" method="POST" class="book-form">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <label for="author">Author:</label>
        <input type="text" id="author" name="author" required>
        <input type="submit" value="Add">
    </form>
</div>

{% endblock %}

{% block script %}
<script type=text/javascript src="{{url_for('static', filename='js/script.js') }}"></script>
{% endblock %}