{% for book in books %}
<div class="book">
    <div class="btn">
        <div class="btn-edit"><a href="{{ url_for('update', id=book.id) }}" onclick="showLoader(true)"><i
                    class="fas fa-edit"></i></a>
        </div>
        <div class="btn-delete"><a href="{{ url_for('delete', id=book.id) }}" onclick="showConfirmation(event)"><i
                    class="fas fa-trash"></i></a>
        </div>
    </div>
    {% set cover = url_for('static', filename='assets/book-stock.png') %}
    {% if (book.cover != None) and (book.cover != '') %}
    {% set cover = "data:image/png;base64," ~ book.cover %}
    {% endif %}
    <img src="{{ cover }}" alt="Cover preview">
    <p>{{ book.title }}</p>
    <p>by {{ book.author }}</p>
</div>
{% endfor %}