{% extends 'layout.html' %}

{% block body %}

<div class="book-form container">
    <form id="book-form" action="/edit-book/{{book.id}}" method="POST" class="book-form">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required value="{{book.name}}">
        <label for="author">Author:</label>
        <input type="text" id="author" name="author" required value="{{book.author}}">
        <input type="submit" value="Edit">
    </form>
</div>

{% endblock %}

{% block script %}
<script type=text/javascript src="{{url_for('static', filename='js/script.js') }}"></script>
{% endblock %}