{% extends 'layout.html' %}

{% block body %}

<div class="container">
    <aside class="sidebar">
        <ul>
            <li><a href="{{ url_for('add') }}"><i class="fas fa-plus-square"></i>Add new book</a></li>
        </ul>
    </aside>

    <div class="books">
        {% for book in books %}
        <div class="book">
            <div class="btn">
                <div class="btn-edit"><a href="{{ url_for('update', id=book.id) }}"><i class="fas fa-edit"></i></a>
                </div>
                <div class="btn-delete"><a href="{{ url_for('delete', id=book.id) }}"><i class="fas fa-trash"></i></a>
                </div>
            </div>
            {% set cover = url_for('static', filename='assets/book-stock.jpg') %}
            {% if (book.cover != None) and (book.cover != '') %}
            {% set cover = "data:image/png;base64," ~ book.cover %}
            {% endif %}
            <img src="{{ cover }}" alt="Cover preview">
            <p>{{ book.title }}</p>
            <p>by {{ book.author }}</p>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}