{% extends 'layout.html' %}

{% block header %}
<header class="header">
    <a href="{{ url_for('index') }}"><i class="fas fa-home"></i><span>books</span></a>
    <div id="books-order" class="books-order">
        <p>Order by</p>
        <select id="order-dropdown" onchange="orderBooks()">
            <option value selected disabled hidden style='display: none'></option>
            <option value="id">Id</option>
            <option value="title">Title</option>
            <option value="author">Author</option>
        </select>
    </div>
</header>
{% endblock %}

{% block body %}

<div class="container">
    <aside class="sidebar">
        <ul>
            <li><a href="{{ url_for('add') }}"><i class="fas fa-plus-square"></i>
                    <p>Add new book</p>
                    <span class="link-name">Add new book</span>
                </a></li>
        </ul>
    </aside>
    <div class="books" id="books">
        {% include 'books.html' %}
    </div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript" src="{{url_for('static', filename='js/script.js') }}"></script>
{% endblock %}