{% extends 'layout.html' %}

{% block body %}

<div class="container">
    <aside class="sidebar">
        <ul>
            <li><a href="/add-book">Add new book</a></li>
        </ul>
    </aside>

    <div class="books">
        {% for book in books %}
        <div class="book">
            <img src="{{ url_for('static', filename='assets/book-stock.jpg') }}" alt="">
            <p>{{ book.name }}</p>
            <p>by {{ book.author }}</p>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}