<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Books!</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/loader.css') }}" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/fontawesome.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/solid.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" />
</head>

<body>
  {% block header %}
  <header class="header">
    <a href="{{ url_for('index') }}" onclick="showLoader(true)"><i class="fas fa-home"></i><span>books</span></a>
  </header>
  {% endblock %}

  {% block loader %}
  <div class="loader-container" id="loader-container">
    <div class="lds-dual-ring"></div>
    <div class="lds-dual-ring-inner"></div>
  </div>
  {% endblock %}

  {% block body %}
  {% endblock %}
</body>

{% block script %}
<script type="text/javascript" src="{{url_for('static', filename='js/script.js') }}"></script>
{% endblock %}

</html>